<% if model.errors.any? %>
<div class="error-alert">
  <ul>
    <% model.errors.full_messages.each do |message| %>
    <li class='error-message'><%= message %></li>
    <% end %>
  </ul>
  <%# <% if current_user.coin.coin < @purchase_address.coin.to_i %>
    <%# <div class='error-message'>使用コインは保有コインの範囲内で入力してください</div> %>
  <%# <%end%>
</div>
<% end %>
